# =========================
# Build folders
# =========================
target/
build/
out/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Eclipse (just in case)
# =========================
.project
.classpath
.settings/

# =========================
# VS Code (optional)
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Env / config
# =========================
.env

# =========================
# Java compiled files
# =========================
*.class